.navbar {
  height: 80px;
  width: 100vw;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
}
.logout-button {
  background-color: #4f46e5;
  border-radius: 5px;
  color: white;
  height: 30px;
  width: 90px;
}
.options {
  display: flex;
}
.each-options {
  margin-right: 25px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  outline: none;
}
